:root {
    --cor-de-fundo: #000000;
--texto: #ffffff;
}   
#equipe{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    }
.foto-equipe{
        width: 40%;
    }
header{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
}

<section id="equipe" style="
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
</section>